<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Zomigy.master.cs" Inherits="zomigy.Zomigy" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <header>

    </header>

     <asp:ContentPlaceHolder ID="Main" runat="server"></asp:ContentPlaceHolder>

    <footer></footer>
</body>
</html>
